vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Dec 2008 05:06:14 -0000
vti_extenderversion:SR|12.0.0.6413
vti_author:SR|NEXTECH\\hiroki-matsumoto
vti_modifiedby:SR|NEXTECH\\hiroki-matsumoto
vti_timecreated:TR|21 Dec 2008 05:06:14 -0000
vti_cacheddtm:TX|21 Dec 2008 05:06:14 -0000
vti_filesize:IR|889
vti_backlinkinfo:VX|index.html
