vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Oct 2009 05:38:44 -0000
vti_extenderversion:SR|12.0.0.6413
vti_author:SR|NEXTECH\\hiroki-matsumoto
vti_modifiedby:SR|NEXTECH\\hiroki-matsumoto
vti_timecreated:TR|22 Oct 2009 05:38:44 -0000
vti_cacheddtm:TX|22 Oct 2009 05:38:44 -0000
vti_filesize:IR|14512
vti_cachedlinkinfo:VX|S|../img/grid.png S|../img/icons/external.png S|../img/icons/email.png S|../img/icons/visited.png S|../img/icons/pdf.png S|../img/icons/doc.png S|../img/icons/xls.png S|../img/icons/feed.png S|../img/icons/im.png
vti_cachedsvcrellinks:VX|FSUS|img/grid.png FSUS|img/icons/external.png FSUS|img/icons/email.png FSUS|img/icons/visited.png FSUS|img/icons/pdf.png FSUS|img/icons/doc.png FSUS|img/icons/xls.png FSUS|img/icons/feed.png FSUS|img/icons/im.png
vti_backlinkinfo:VX|index.html
